Options -MultiViews -Indexes

DirectoryIndex index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# /blog i /blog/ uvijek otvori stranicu blog.html, ne mapu (Facebook bot)
RewriteRule ^blog/?$ blog.html [L]

# Blog postovi – ako .html datoteka postoji, posluži nju (prije nego Apache pogleda mapu)
RewriteCond %{DOCUMENT_ROOT}/blog/$1.html -f
RewriteRule ^blog/(.*)\.html$ blog/$1.html [L]

# Ostale glavne stranice
RewriteRule ^about/?$ about.html [L]
RewriteRule ^contact/?$ contact.html [L]
RewriteRule ^admin/?$ admin.html [L]
</IfModule>
